html,
body {
  height: 100%;
}

body {
    display: inline-block;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

div {
  align-content: center;
}

div #upload {
  padding-left: 20px;
  padding-right: 20px;
}

div #prediction {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  align-content: center;
  height: 90%;
}

.display-image {
  width: 600px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-upload {
  text-align: center;
  width: auto;
  max-width: 80%;
  padding: 15px;
}
.form-upload .checkbox {
  font-weight: 400;

}
.form-upload .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
.form-upload .form-control:focus {
  z-index: 2;
}

.footer {
    position: absolute;
    align-content: center;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

