{% extends 'base.html'%}


{% block head %}

{% endblock %}



{% block body %}
<h1>Check for Pneumonia</h1>

<p>Upload your x-ray image</p>
<form action="{{ url_for('predict')}}"method="post">
    <input type="file" id="uploaded_image" name="image" required="required">
    <button type="submit">Predict</button>
</form>
<br>
<br>
<img src="https://prod-images-static.radiopaedia.org/images/157210/332aa0c67cb2e035e372c7cb3ceca2_jumbo.jpg" alt="Medical Image"/>
<br>
{{ prediction_text }}

{% endblock %}