{% extends 'base.html'%}


{% block head %}
    <title>Radiology Image Classifier</title>
{% endblock %}



{% block body %}
<form method=post enctype="multipart/form-data">
    <h1>Upload your image</h1>
    <input type=file name=image required autofocus>
    <button type=submit value=Upload>Upload</button>
    <br>
    <br>
    {% if uploaded_img %}
        <figure>
            <img src="static/images/{{ uploaded_img }}" alt="Medical Image">
            <figcaption>Uploaded image</figcaption>
        </figure>
    {% endif %}
</form>
<br>
<br>

<br>
<br>
<form method=post enctype="multipart/form-data" action="{{ url_for('predict')}}">
    <button type=submit value=Predict onclick="$('#loading').show();">Predict</button>
    {% if annotated_img %}
    <figure>
        <img src="static/images/{{ annotated_img }}" alt="Annotated Image">
        <figcaption>AI annotated image</figcaption>
    </figure>
{% endif %}
</form>
<div id="loading" style="display:none;"><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/></div>
<br>

{{ prediction_text }}


{% endblock %}

